@font-face {
    font-family: 'Lack';
    src: url('../fonts/Lack/Lack-Regular.woff2') format('woff2'),
         url('../fonts/Lack/Lack-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-variant: normal;     
}


@font-face {
    font-family: 'Lack';
    src: url('../fonts/Lack/Lack-Italic.woff2') format('woff2'),
         url('../fonts/Lack/Lack-Italic.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'Lack Line';
    src: url('../fonts/Lack/Lack-Line-Regular.woff2') format('woff2'),
         url('../fonts/Lack/Lack-Line-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'Lack Line';
    src: url('../fonts/Lack/Lack-Line-Italic.woff2') format('woff2'),
         url('../fonts/Lack/Lack-Line-Italic.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
    font-variant: normal;     
}